<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Globo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    </style>
    <script src="https://unpkg.com/vue@3.3.2/dist/vue.global.js"></script>
    
</head>
<body>
    <div id="app">
        <header>
            <div class="div-logo-pagina">
                <img :src="imagenLogo" style="width: 40%">
            </div>
        </header>

        <main>
            <section class="section-contenedor">
                <div class="div-contenedor-imagen">
                    <img :src="imagenFotoPerfil" style="border-radius: 50%; width: 100%;" >
                </div>
    
                <div>
                    <h3>Jane Doe</h3>
                    <p><span>Email: </span>jane_doe@email.com</p>
                    <p><span>Fecha de nacimiento: </span>01/05/1996</p>
                    <p><span>Telefono: </span>918-936-9585</p>
                    <p><span>Ciudad: </span> Tokyo, Japon</p>
                    <p>Trabajando en <span>Lawn N</span></p>
                </div>
    
                <div class="div-contenedor-boton">
                    <!-- :class="[colorBotonSeguir ? btn btn-primary : btn-danger]" -->
                    <button id="boton-seguir" class="btn btn-primary"  style="width: 150px;" @click="botonSeguirNoSeguir">{{botonSeguir}}</button>
                </div>
            </section>
            <section class="section-contenedor2">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <p>publicado hace 1 semana</p>
                            <img :src='imagenPublicada' style="display: block; height: 90%; width: 66%;">
                            <button type="button" class="btn btn-success" @click="sumarORestarLikes">{{botonMegusta}}</button>
                            <label id="label-likes" for="boton-likes" style="margin-left: 45%; font-weight: bold;">{{numeroLikes}} likes</label>
                            <h5 style="margin-top: 1%;">Comentarios</h5>
                            <div id="div-comentarios">
                                <p><span>Juan Perez</span> ¡Wow, esa foto de Tokyo es impresionante!</p>
                                <p><span>Kathleen J Reennie</span> ¡Esta foto de Tokio es simplemente espectacular! Me trae
                                tantos recuerdos.</p>
                            </div>
                            <div v-for="(usuarioYComentario, indice) in usuariosYComentarios" :key="indice">
                                <p style="display: inline;"><span>{{usuarioYComentario.usuario}}</span> {{usuarioYComentario.comentario}}</p>
                                <button class="btn btn-danger" style="font-size: 10px; margin-left: 5px;" @click="eliminarComentario(indice)">Eliminar</button>
                            </div>

                            <form @submit.prevent="agregarComentario">
                                <div style="position: absolute; left: 80%; bottom: 94%;">
                                    <input class="form-control" style="background-color: rgb(175, 255, 255);" type="text" name="usuario" id="usuario-ingresado" v-model="usuario" placeholder="Ingresa tu usuario...">
                                </div>
                                <input class="form-label" size="60" style="display: inline;" type="text" name="textoIngresado" id="comentario-ingresado" v-model="comentario" placeholder="Deja tu comentario...">
                                <div id="p-error">
                                    <p>{{mensajeDeError}}</p>
                                </div>
                                <input id="boton-comentario" class="btn btn-primary" :disabled="!usuario" type="submit" value="Comentar">
                                <!-- <button id="boton-comentario" class="btn btn-primary" type="button" @click="agregarComentario">Comentar</button> -->
                            </form>
                            
                            <!-- <form method="post">
                                <div style="position: absolute; left: 80%; bottom: 94%;">
                                    <input  class="form-control" style="background-color: rgb(175, 255, 255);" type="text" name="usuario"
                                            id="usuario-ingresado" placeholder="Ingresa tu usuario...">
                                </div>
                                <input  class="form-label" size="60"  display: inline;" type="text" name="textoIngresado"
                                id="comentario-ingresado" placeholder="Deja tu comentario...">
                                <div id="p-error">
                                </div>
                                <input id="boton-comentario" class="btn btn-primary" type="submit" value="Comentar">
                            </form> -->
                        </div>
                        
                        <div class="col-4">
                            <h4>Sobre mi</h4>
                            <p style="font-size: 14px;">¡Hola a todos! Soy Jane, y actualmente vivo en la vibrante y emocionante ciudad de Tokio,
                                Japon. Me encanta capturar la esencia de la vida urbana a traves de mi lente, explorando el
                                contraste entre la arquitectura moderna y las tradicionas centenarias que conviven en esta
                                metropolis unica. Desde rascacielos deslumbrantes y calles bulliciosas hasta templos serenos
                                y jardines tranquilos, encuentro inspiracion en cada rincon de esta increible ciudad.</p>
                        </div>
                        <!-- <div class="col-4"">
                            <h4>Sobre mi</h4>
                            <p style="font-size: 14px;">¡Hola a todos! Soy Jane, y actualmente vivo en la vibrante y emocionante ciudad de Tokio,
                                Japon. Me encanta capturar la esencia de la vida urbana a traves de mi lente, explorando el
                                contraste entre la arquitectura moderna y las tradicionas centenarias que conviven en esta
                                metropolis unica. Desde rascacielos deslumbrantes y calles bulliciosas hasta templos serenos
                                y jardines tranquilos, encuentro inspiracion en cada rincon de esta increible ciudad.</p>
                        </div> -->
                    </div>
                </div>
            </section>
        </main>

        <footer>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
        <script src="./main.js"></script>
    </div>
</body>
</html>